@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Meeting all your custom desk needs </h1>
    <img src="https://imgs.search.brave.com/7GkMhvYN0wNGfTHWIOUgxG_Tm4wiCcSxBh7wnu-Ds8k/rs:fit:600:525:1/g:ce/aHR0cHM6Ly9pLnJl/ZGQuaXQvb3k5a29s/ZTY5bGIyMS5qcGc" alt="Office-mega-desk">
</div>
